footer {
  position: absolute;
  width: 100%;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

footer p {
  text-align: center;
  font-size: 30px;
}
h1 {
  margin-top: 20px;
}
.ajust {
  text-align: justify;
}
.nav-link {
  color: #fff;
  transition: 0.3s;
}
.nav-link:hover {
  color: #ffc107;
}
